{% extends 'base.html' %}
{% block content %}
{% load static %}
<body onload="carregarMovimentacoes(1) ; mask()">
    
    <main>
        <div class="container-fluid d-flex justify-content-start p-0 h-100">
            <!-- Lado esquerdo -->
            <div class="left-side">
                <div class="sidebar-title d-flex justify-content-center align-items-center">
                    <img src="{% static 'assets/img/logo-rr.png' %}" alt="Logo Renato Borracharia">
                </div>
                <div class="menu">
                    <div>
                        <ul>
                            <li>
                                <i class='bx bx-dollar'></i>
                                <a href="" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Nova movimentação</a>
                            </li>
                            <li>
                                <i class='bx bx-calendar'></i>
                                <a href="" data-bs-toggle="modal" data-bs-target="#pesquisarPorData">Pesquisar movimentação</a>
                            </li>
                            <li>
                                <i class='bx bx-bar-chart'></i>
                                <a href="{% url 'index' %}">Movimentações</a>
                            </li>
                            <li>
                                <i class='bx bx-line-chart'></i>
                                <a href="{% url 'dashboard' %}">Dashboard</a>
                            </li>
                        </ul>
                    </div>

                    <div class="social-media-icons d-flex flex-column justify-content-between align-items-center">
                        <div class="d-flex gap-3">
                            <a href="https://www.facebook.com/renatoborrachariaoficial" id="fb" target="_blank" rel="noopener noreferrer"><i class='bx bxl-facebook-circle'></i></a>
                            <a href="https://www.instagram.com/renatoborrachariaoficial/" id="insta" target="_blank" rel="noopener noreferrer"><i class='bx bxl-instagram-alt'></i></a>
                        </div>
                        <div>
                            <a class="d-flex align-items-center gap-2" href="https://github.com/gabryelmelo07" id="assinatura" target="_blank" rel="noopener noreferrer"><i class='bx bx-copyright'></i>Gabryel A. Melo</a>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Lado direito -->
            <div class="right-side d-flex flex-column">
                <div id="table_div">
                    <table class="table table-sm table-striped" id="tabela-movimentacoes">
                        <thead class="table-dark">
                            <tr>
                                <th>ID</th>
                                <th>Data da movimentação</th>
                                <th>Tipo da movimentação</th>
                                <th>Descrição</th>
                                <th>Valor</th>
                                <th>Excluir</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="d-flex justify-content-center" id="pagination_div">
                <nav class="nav_pagination" aria-label="Page navigation">
                    <ul class="pagination">
                        <li class="page-item" id="pagina_anterior">
                            <a class="page-link" href="#" aria-label="Pagina Anterior">
                                <span class="btn-pagination" aria-hidden="true">&laquo; Pagina Anterior</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" id="pagina_atual">1</a></li>
                        <li class="page-item" id="proxima_pagina">
                            <a class="page-link" href="#" aria-label="Próxima Pagina">
                                <span class="btn-pagination" aria-hidden="true">Próxima Pagina &raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </main>
    
    {% include 'modals.html' %}
    
</body>
{% endblock %}