@import url("colors.css");

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 400px;
}

.chart {
    height: 100%;
    width: 750px;
}

.card {
    width: 12%;
    height: 35%;
    background-color: var(--sidebar-color);
}

.card-title {
    font-size: 23px;
}

.card-text {
    font-size: 20px;
}