.left-side {
    height: 100%;
    width: 280px;
    background: var(--sidebar-color);
}

.right-side {
    height: 100%;
    width: calc(100% - 280px);
    background: var(--body-light-color);
    overflow-y: auto;
}

.right-side::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.right-side::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

.right-side::-webkit-scrollbar-thumb
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}