.left-side {
    height: 100%;
    width: 280px;
    background: var(--sidebar-color);
}

.right-side {
    height: 100%;
    width: calc(100% - 280px);
    background: var(--body-light-color);
    position: relative;
}

#table_div {
    height: calc(100% - 50px);
    overflow-y: auto;
}

.table {
    height: calc(100% - 16px)
}

#pagination_div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 280px);
    height: 50px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.nav_pagination {
    height: 100%;
}

#data_movimentacao {
    width: 40%;
}

#divTabelaMovimentacoesPorData {
    border: 1px solid rgba(0,0,0,0.09);
    border-bottom: 0;
}